<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  <meta name="description" content="list of student names for homework">
  <meta name="author" content="Tomer Antman">
</head>

<body>
<h1>See the students in the course!</h1>
    <nav> <!-- The Navigation Section element (provide navigation links )-->
        <h3>Click to see all and choose from list.</h3>
        <ul>
            <li><a href="/all_students">All the students</a> </li>
        </ul>
        <h3>Or search for someone specific:</h3>
        <p>work in progress...</p>
    </nav>

</body>
</html>