<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Students</title>
  <meta name="description" content="list of student names for homework">
  <meta name="author" content="Tomer Antman">
</head>

<body>
<h1>See the students in the course!</h1>
    <nav> <!-- The Navigation Section element (provide navigation links )-->
        <ul>
            <li><a href="/all_students">All</a> All the students</li>
        </ul>
    </nav>
</body>
</html>